body
{
	font-family: "Give You What You Like", 'Satisfy', cursive, sans-serif;
}

@font-face
{
	font-family: "Give You What You Like";
	src: url(../fonts/Give You What You Like - OTF.otf) format('embedded-opentype'),
	url(Give You What You Like - OTF.otf) format('opentype');
}

#header
{
	height: 100vh;
	background-image: url(../assets/test.jpg);
	background-size: cover;
	font-size: 2.3rem;
}

a
{
	color: #212529;
}

a:hover
{
	text-decoration: none;
	color: #DE0D18;
}

.social-responsive
{
	display: none;
}

.title
{
	margin-top: 60px;
	font-size: 2.5rem;
}

.content
{
	font-size: 1.73rem;
}

.id-content
{
	font-size: 4rem;
	color: #A0C31C;
	font-weight: 600;
	font-family: 'Satisfy', cursive, sans-serif;
	margin-bottom: -50px;
}

.arrow-top
{
	margin-top: 60px;
	padding-left: 50px;
}

.arrow-bottom
{
	margin-top: 120px;
	padding-left: 70px;
}

.contact
{
	font-size: 1.73rem;
}

.col-form-label
{
	font-size: 24px;
	font-weight: 400;
}

.btn
{
	margin-top: 10px;
	border-radius: 0;
}

.btn-red
{
	background-color: #DE0D18;
	color: #FFF;
	padding: 3px 50px 3px 50px;
	font-size: 1.5rem;
}

.btn-red:hover
{
	cursor: pointer;
	background-color: #D6000C;
}

.form-group
{
	margin-bottom: 0;
}

.form-control:focus
{
	border-color: #DE0D18;
}

.header-responsive
{
	display: none;
}


/*Media Queries*/
@media(max-width:768px)
{
	#logo 
	{
		width: 100%;
	}
	#header
	{
		height: 180vh;
	}
	.social-responsive img
	{
		width: 50%;
	}
	.social-responsive
	{
		display: block;
		margin-top: 30px;
	}
	.arrow-top, 
	.arrow-bottom, 
	.social-desktop, 
	.social-d,
	.desktop,
	.text-form,
	.header-desktop
	{
		display: none;
	}
	.title
	{
		margin-top: 50px;
	}
	.col-sm-4
	{
		font-size: 22px;
	}
	
	.embed-responsive-item
	{
		width: 320px;
		height: 275px;
	}
	.header-responsive
	{
		display: block;
	}
	.back-header
	{
		display: flex;
		justify-content: center;
	}
	.btn-red
	{
		padding: 3px 5px 3px 5px;
	}
	.subtitle
	{
		font-size: 16px;
	}

@media(max-width:576px)
{
	#header
	{
		height: 250vh;
	}
	#logo 
	{
		width: 60%;
	}
}

@media(max-width:420px)
{
	#header
	{
		height: 120vh;
	}
}

@media(max-width:320px)
{
	#header
	{
		height: 250vh;
	}
}

